<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Web Scraping/Selenium/src/test/java/TestNG/TestNGReportExample/ReportExample.java">
        <classes>
            <class name="TestNG.TestNGReportExample.ReportExample">
                <methods>
                    <include name="testMethod1"/>
                    <include name="testMethod2"/>
                    <include name="testMethod3"/>
                    <include name="testMethod4"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>